.popup-container{
    position: fixed;
    top: 100px;
    left: calc((100% - 340px)/2);
    width: 340px;
    height: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px black;
    background-color: var(--dark-2);
    z-index: 2;
}